<h5 class="mb-3">Customer List</h5>

<button matButton="filled" [routerLink]="'/create'" class="mb-3">
  Create New Customer
</button>

<div class="list-group">
  <div *ngFor="let customer of customers" class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <b>{{ customer.name }}</b><br>
      <small>{{ customer.email }} | {{ customer.phone }}</small>
    </div>
    <div>
      <button mat-icon-button color="primary" [routerLink]="'/edit/' + customer._id">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" [routerLink]="'/details/' + customer._id">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDeleteClick(customer)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
